rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      function isAuthenticated(userId) {
        return request.auth != null && request.auth.uid == userId;
      }

      allow create: if request.auth != null;
      allow get: if isAuthenticated(userId);
      // fcmTokenのバリデーション
      allow update: if isAuthenticated(userId) && 
                       get(/databases/$(database)/documents/users/$(userId)).data.fcmToken.createAt is timestamp &&
                       get(/databases/$(database)/documents/users/$(userId)).data.fcmToken.token is string;
      // eventsのバリデーション
      allow update: if isAuthenticated(userId) && 
                       get(/databases/$(database)/documents/users/$(userId)).data.events is map;
      allow delete: if isAuthenticated(userId);
    }
  }
}